*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 5%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 24px;
    z-index: 1;
}

#home {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
}

#home:hover {
    color: hsla(51, 90%, 50%, 0.95);
}

.burger {
    display: none;
    width: 30px;
    height: 30px;
}

.burger span {
    width: 45px;
    height: 4px;
    position: absolute;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

#header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-style: italic;
}

#header-links a {
    padding-left: 30px;
}

#header-links a:hover {
    text-decoration: underline hsla(51, 90%, 50%, 0.95);
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
}

#intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 300px;
    background-image: url('../img/black\ background\ with\ gold\ traces.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro h3 {
    position: relative;
    bottom: 30px;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

#intro h3 span {
    color: hsla(51, 90%, 50%);
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0 50px 0;
}

#journey {
    text-align: center;
    max-width: 950px;
    padding: 20px 0 50px 0;
}

.fact-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 550px;
    width: 100%;
}

.card:hover {
    cursor: pointer;
}

.front-card, .back-card {
    width: 300px;
    height: 450px;
    border: 4px solid hsla(51, 90%, 50%, 0.95);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-card {
    font-size: 1.5rem;
}

.front-card:hover {
    font-weight: 500;
    background-color: hsla(51, 90%, 50%, 0.95);
    border: none;
    width: 320px;
    height: 480px;
}

.back-card {
    display: none;
    background-color: hsla(51, 90%, 50%, 0.95);
    text-align: start;
    color: white;
    flex-direction: column;
    align-items: start;
}

.back-card p {
    font-size: 1rem;
}

.back-card ul {
    width: 90%;
}

.quotes {
    margin-bottom: 8px;
}

.back-card:hover {
    font-size: 1.1rem;
    width: 320px;
    height: 480px;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #d4af37c0;
    height: 820px;
}

#projects h2 {
    position: relative;
    bottom: 20px;
    padding-bottom: 50px;
}

#projects div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#projects div a, #projects div a img {
    width: 430px;
    height: 400px;
    border-radius: 1rem;
    opacity: 0.6;
}

#projects div a:hover, #projects div a img:hover {
    width: 450px;
    height: 420px;
    border: 2px solid hsla(51, 90%, 50%, 0.95);
    opacity: 1;
}

#cv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 820px;
}

#cv a {
    width: 372px;
    height: 526.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
}

#cv a img {
    width: 100%;
    height: 100%;
}

#cv h2 {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
}

#cv a:hover {
    opacity: 1;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4af37c0;
    height: 100vh;
}

#contact h2 {
    margin-top: 0;
    margin-bottom: 16px;
}

#contact p {
    margin-bottom: 16px;
}

#contact .form {
    text-align: center;
}

form input, form textarea {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    background: none;
    border: none;
    border-bottom: 2px solid hsla(51, 90%, 50%, 0.95);
    font-size: 1rem;
}

form input::placeholder, #comment::placeholder {
    color: white;
}

form input:focus, form textarea:focus {
    outline: none;
    color: hsla(51, 90%, 50%, 0.95);
    font-size: 1.2rem;
}

form input:focus::placeholder, #comment:focus::placeholder {
    color: hsla(51, 90%, 50%, 0.95);
    font-size: 1.2rem;
}

#first-name, #last-name {
    width: 250px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#user-email, #comment {
    width: 552px;
}

#user-email {
    height: 30px;
}

#comment {
    height: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: none;
}

#submit {
    width: 250px;
    height: 50px;
    font-size: 1.1rem;
    color: hsla(51, 90%, 50%, 0.95);
    background-color: white;
    border: 2px solid hsla(51, 90%, 50%, 0.95);
    font-weight: 500;
}

#submit:hover {
    color: white;
    background-color: hsla(51, 90%, 50%, 0.95);
    border: none;
    font-weight: 600;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d4af37c0;
}

#my-email {
    display: flex;
    align-items: center;
    width: 350px;
    height: 60px;
}

#my-email img {
    height: 45px;
    width: 45px;
}

#footer-links {
    font-size: 1.5rem;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-style: italic;
    height: 60px;
}

#footer-links a:hover {
    text-decoration: underline hsla(51, 90%, 50%, 0.95) 2px;
}

.vertical-bar {
    color: hsla(51, 90%, 50%, 0.95);
    font-style: normal;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 60px;
}

.socials a, .socials a img {
    width: 45px;
    height: 45px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials img {
    border-radius: 0.5rem;
}

.socials img:hover {
    border: 1.5px solid hsla(51, 90%, 50%, 0.95);
}

#github {
    background-color: white;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    header {
        width: 100%;
    }
    
    nav {
        padding: 0 16px;
    }

    #home {
        z-index: 1;
    }
    
    .burger {
        display: block;
        z-index: 1;
    }

    .burger span:nth-child(1) {
        top: 30%;
    }

    .burger span:nth-child(3) {
        top: 70%;
    }

    .burger.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .burger.active span:nth-child(2) {
        opacity: 0;
    }

    .burger.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    #header-links {
        background-color: hsl(0, 0%, 5%);
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        padding: 0;
        margin: 0;
    }

    #header-links.active {
        right: 0;
    }

    #header-links a {
        padding: 10px 0;
    }

    h2 {
        font-size: 2.7rem;
    }

    #about {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #journey {
        width: 90%;
    }

    #journey p {
        font-size: 1.4rem;
    }

    .fact-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .front-card, .back-card {
        padding: 10px 0;
        margin: 10px 0;
    }

    #projects {
        height: auto;
    }

    #projects h2 {
        text-align: center;
        width: 90%;
        padding: 10px;
        bottom: 0px;
    }

    #projects div {
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    #projects div a {
        width: 350px;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        opacity: 1;
    }

    #projects div a img {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    #cv a {
        width: 90%;
        height: 70vh;
        border: 4px solid hsla(51, 90%, 50%, 0.95);
    }

    #contact p {
        width: 90%;
        text-align: center;
    }

    #first-name, #last-name, #user-email, #comment {
        width: 90%;
    }
    
    footer {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #my-email, #footer-links, #socials {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .socials {
        margin: 5px 0;
    }

    .socials a, .socials a img {
        margin: 0 15px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
   /* Tablet */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
   /* Tablet Landscape */
}

@media only screen and (min-width: 1024px) and (max-width: 1600px) {
   /* Laptop */
}

@media only screen and (min-width: 1600px) {
   /* Desktop */
}