*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 5%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 24px;
    z-index: 1;
}

#home {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
}

.burger {
    display: none;
    width: 30px;
    height: 30px;
}

.burger span {
    width: 45px;
    height: 4px;
    position: absolute;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

#header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-style: italic;
}

#header-links a {
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
}

#intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 300px;
    background-image: url('../img/black\ background\ with\ gold\ traces.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro h3 {
    position: relative;
    bottom: 30px;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

#intro h3 span {
    color: hsla(51, 90%, 50%);
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0 50px 0;
}

#journey {
    text-align: center;
    max-width: 950px;
    padding: 20px 0 50px 0;
}

.fact-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 550px;
    width: 100%;
}

.front-card, .back-card {
    width: 300px;
    height: 450px;
    border: 4px solid hsla(51, 90%, 50%, 0.95);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-card {
    font-size: 1.5rem;
}

.back-card {
    display: none;
    background-color: hsla(51, 90%, 50%, 0.95);
    text-align: start;
    color: white;
    flex-direction: column;
    align-items: start;
}

.back-card p {
    font-size: 1rem;
}

.back-card ul {
    width: 90%;
}

.quotes {
    margin-bottom: 8px;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #d4af37c0;
    height: 820px;
}

#projects h2 {
    position: relative;
    bottom: 20px;
    padding-bottom: 50px;
}

#projects div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#projects div a, #projects div a img {
    width: 430px;
    height: 400px;
    border-radius: 1rem;
    opacity: 0.6;
}

#cv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 820px;
}

#cv a {
    width: 372px;
    height: 526.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
}

#cv a img {
    width: 100%;
    height: 100%;
}

#cv h2 {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4af37c0;
    height: 100vh;
}

#contact h2 {
    margin-top: 0;
    margin-bottom: 16px;
}

#contact p {
    margin-bottom: 16px;
}

#contact .form {
    text-align: center;
}

form input, form textarea {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    background: none;
    border: none;
    border-bottom: 2px solid hsla(51, 90%, 50%, 0.95);
    font-size: 1rem;
}

form input::placeholder, #comment::placeholder {
    color: white;
}

form input:focus, form textarea:focus {
    outline: none;
    color: hsla(51, 90%, 50%, 0.95);
    font-size: 1.2rem;
}

form input:focus::placeholder, #comment:focus::placeholder {
    color: hsla(51, 90%, 50%, 0.95);
    font-size: 1.2rem;
}

#first-name, #last-name {
    width: 250px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#user-email, #comment {
    width: 550px;
}

#user-email {
    height: 30px;
}

#comment {
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

#submit {
    width: 250px;
    height: 50px;
    font-size: 1.1rem;
    color: hsla(51, 90%, 50%, 0.95);
    background-color: white;
    border: 2px solid hsla(51, 90%, 50%, 0.95);
    font-weight: 500;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d4af37c0;
}

#my-email {
    display: flex;
    align-items: center;
    width: 350px;
    height: 60px;
}

#my-email img {
    height: 45px;
    width: 45px;
}

#footer-links {
    font-size: 1.5rem;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-style: italic;
    height: 60px;
}

.vertical-bar {
    color: hsla(51, 90%, 50%, 0.95);
    font-style: normal;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 60px;
}

.socials a, .socials a img {
    width: 45px;
    height: 45px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials img {
    border-radius: 0.5rem;
}

#github {
    background-color: white;
}

@media (hover: hover) and (pointer: fine) {
    #home:hover {
        color: hsla(51, 90%, 50%, 0.95);
        cursor: pointer;
    }

    #header-links a:hover {
        text-decoration: underline hsla(51, 90%, 50%, 0.95);
        cursor: pointer;
    }

    .card:hover {
        cursor: pointer;
    }

    .front-card:hover {
        font-weight: 500;
        background-color: hsla(51, 90%, 50%, 0.95);
        border: none;
        width: 320px;
        height: 480px;
        cursor: pointer;
    }

    .back-card:hover {
        font-size: 1.1rem;
        width: 320px;
        height: 480px;
        cursor: pointer;
    }

    #projects div a:hover, #projects div a img:hover {
        width: 450px;
        height: 420px;
        border: 2px solid hsla(51, 90%, 50%, 0.95);
        opacity: 1;
        cursor: pointer;
    }

    #cv a:hover {
        opacity: 1;
        cursor: pointer;
    }

    #submit:hover {
        color: white;
        background-color: hsla(51, 90%, 50%, 0.95);
        border: none;
        font-weight: 600;
        cursor: pointer;
    }

    #footer-links a:hover {
        text-decoration: underline hsla(51, 90%, 50%, 0.95) 2px;
        cursor: pointer;
    }

    .socials img:hover {
        border: 1.5px solid hsla(51, 90%, 50%, 0.95);
        cursor: pointer;
    }
}

@media only screen and (min-width: 1600px) {
    header {
        padding: 12px 0;
    }

    nav {
        height: 100px;
        padding: 0 48px;
    }

    #home {
        font-size: 4.5rem;
    }

    #header-links {
        font-size: 3.5rem;
    }

    #header-links a {
        padding-left: 45px;
    }

    h1 {
        font-size: 9rem;
    }

    h2 {
        font-size: 4.5rem;
    }

    p {
        font-size: 3rem;
    }

    #intro {
        height: 100vh;
        column-gap: 300px;
    }

    #intro h3 {
        bottom: 30px;
        font-size: 3rem;
    }

    #about {
        padding: 20px 0 50px 0;
        height: 100vh;
    }

    #journey {
        width: 70%;
        max-width: none;
    }

    .fact-cards {
        height: 800px;
    }

    .front-card, .back-card {
        width: 450px;
        height: 650px;
    }

    .front-card {
        font-size: 2.5rem;
    }

    .back-card p {
        font-size: 1.8rem;
    }

    .back-card ul {
        width: 90%;
        font-size: 1.5rem;
    }

    .quotes {
        margin-bottom: 12px;
    }

    #projects {
        height: 100vh;
    }

    #projects h2 {
        bottom: 20px;
        padding-bottom: 100px;
    }

    #projects div a, #projects div a img {
        width: 650px;
        height: 600px;
    }

    #cv {
        height: 100vh;
    }

    #cv a {
        width: 30%;
        height: 70%;
    }

    #contact p {
        margin-bottom: 24px;
    }

    form input, form textarea {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 1.5rem;
    }

    form input:focus, form textarea:focus {
        font-size: 1.8rem;
    }

    form input:focus::placeholder, #comment:focus::placeholder {
        font-size: 1.8rem;
    }

    #first-name, #last-name {
        width: 350px;
        height: 45px;
    }

    #user-email, #comment {
        width: 750px;
    }

    #user-email {
        height: 45px;
    }

    #comment {
        height: 75px;
    }

    #submit {
        width: 400px;
        height: 75px;
        font-size: 1.6rem;
    }

    #my-email {
        width: 550px;
        height: 90px;
    }

    #my-email img {
        height: 65px;
        width: 65px;
    }

    #footer-links {
        font-size: 2.5rem;
        width: 650px;
        height: 90px;
    }

    .vertical-bar {
        font-size: 3rem;
    }

    .socials {
        width: 550px;
        height: 90px;
    }

    .socials a, .socials a img {
        width: 65px;
        height: 65px;
        margin-left: 45px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        width: 100%;
    }
    
    nav {
        padding: 0 16px;
    }

    #home {
        z-index: 1;
    }

    h2 {
        font-size: 2.8rem;
    }

    #about {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #journey {
        width: 90%;
    }

    #journey p {
        font-size: 1.4rem;
    }

    .card {
        margin: 16px 32px;
    }

    .fact-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 90%;
    }

    .front-card, .back-card {
        padding: 10px 0;
        margin: 10px 0;
    }

    #projects {
        height: auto;
    }

    #projects h2 {
        text-align: center;
        padding: 32px;
        bottom: 0px;
    }

    #projects div {
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    #projects div a {
        width: 70%;
        height: auto;
        margin: 16px 0;
        opacity: 1;
    }

    #projects div a img {
        width: 100%;
        height: 100%;
        min-height: 450px;
        opacity: 1;
        margin: auto;
    }

    #cv {
        height: 80vh;
    }

    #cv a {
        width: 70%;
        height: auto;
        border: 4px solid hsla(51, 90%, 50%, 0.95);
    }

    #contact {
        height: 75vh;
        padding: 48px 0;
    }

    #contact p {
        width: 90%;
        text-align: center;
    }

    #contact .form {
        width: 60%;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #first-name, #last-name, #user-email, #comment {
        width: 100%;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 12px 0;
    }

    #my-email, #footer-links, #socials {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 16px 0;
    }

    #my-email {
        display: flex;
        align-items: center;
    }

    #my-email img {
        height: 45px;
        width: 45px;
    }

    #my-email p {
        font-size: 2rem;
    }

    #footer-links a {
        font-size: 2rem;
        padding: 0 4px;
    }

    .socials {
        margin: 16px 0;
    }

    .socials a, .socials a img {
        width: 55px;
        height: 55px;
        margin: 0 24px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    header {
        width: 100%;
    }
    
    nav {
        padding: 0 16px;
    }

    #home {
        z-index: 1;
    }

    h2 {
        font-size: 2.7rem;
    }

    #about {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #journey {
        width: 90%;
    }

    #journey p {
        font-size: 1.4rem;
    }

    .fact-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .front-card, .back-card {
        padding: 10px 0;
        margin: 10px 0;
    }

    #projects {
        height: auto;
    }

    #projects h2 {
        text-align: center;
        width: 90%;
        padding: 10px;
        bottom: 0px;
    }

    #projects div {
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    #projects div a {
        width: 350px;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        opacity: 1;
    }

    #projects div a img {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    #cv a {
        width: 90%;
        height: 70vh;
        border: 4px solid hsla(51, 90%, 50%, 0.95);
    }

    #contact p {
        width: 90%;
        text-align: center;
    }

    #first-name, #last-name, #user-email, #comment {
        width: 90%;
    }
    
    footer {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #my-email, #footer-links, #socials {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .socials {
        margin: 5px 0;
    }

    .socials a, .socials a img {
        margin: 0 15px;
    }
}

@media only screen and (max-width: 480px) {
    header {
        width: 100%;
    }
    
    nav {
        padding: 0 16px;
    }

    #home {
        z-index: 1;
    }
    
    .burger {
        display: block;
        z-index: 1;
    }

    .burger span:nth-child(1) {
        top: 30%;
    }

    .burger span:nth-child(3) {
        top: 70%;
    }

    .burger.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .burger.active span:nth-child(2) {
        opacity: 0;
    }

    .burger.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    #header-links {
        background-color: hsl(0, 0%, 5%);
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        padding: 0;
        margin: 0;
    }

    #header-links.active {
        right: 0;
    }

    #header-links a {
        padding: 10px 0;
    }

    h2 {
        font-size: 2.7rem;
    }

    #about {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #journey {
        width: 90%;
    }

    #journey p {
        font-size: 1.4rem;
    }

    .fact-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .front-card, .back-card {
        padding: 10px 0;
        margin: 10px 0;
    }

    #projects {
        height: auto;
    }

    #projects h2 {
        text-align: center;
        width: 90%;
        padding: 10px;
        bottom: 0px;
    }

    #projects div {
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    #projects div a {
        width: 350px;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        opacity: 1;
    }

    #projects div a img {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    #cv a {
        width: 90%;
        height: 70vh;
        border: 4px solid hsla(51, 90%, 50%, 0.95);
    }

    #contact p {
        width: 90%;
        text-align: center;
    }

    #first-name, #last-name, #user-email, #comment {
        width: 90%;
    }
    
    footer {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #my-email, #footer-links, #socials {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .socials {
        margin: 5px 0;
    }

    .socials a, .socials a img {
        margin: 0 15px;
    }
}