body {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 5%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#home {
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    position: relative;
    left: 20px;
}

#home:hover {
    color: hsla(51, 90%, 50%, 0.95);
}

header div {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    right: 10px;
    font-style: italic;
}

header div a:hover {
    text-decoration: underline hsla(51, 90%, 50%, 0.95);
}

a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
}



#intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 300px;
    background-image: url('../img/black\ background\ with\ gold\ traces.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro #name {
    border: none;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

#intro h3 {
    position: relative;
    bottom: 30px;
    font-weight: 500;
}

#intro img {
    max-width: 500px;
    min-width: 200px;
    max-height: 550px;
    min-height: 250px;
    position: relative;
    right: 50px;
    border: 2px solid hsla(51, 90%, 50%, 0.95);
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0 50px 0;
}

#journey {
    text-align: center;
    max-width: 950px;
    padding: 20px 0 50px 0;
}

.fact-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 550px;
    width: 100%;
}

.card:hover {
    cursor: pointer;
}

.front-card, .back-card {
    width: 280px;
    height: 380px;
    border: 4px solid hsla(51, 90%, 50%, 0.95);
    text-align: center;
    padding: 50px 8px;
}

.front-card {
    font-size: 1.5rem;
    vertical-align: middle;
    line-height: 330px;
}

.front-card:hover {
    font-weight: 500;
    background-color: hsla(51, 90%, 50%, 0.95);
    border: none;
    width: 320px;
    height: 420px;
}

.back-card {
    display: none;
    background-color: hsla(51, 90%, 50%, 0.95);
    text-align: start;
    color: white;
}

.back-card p {
    font-size: 1rem;
    text-align: center;
}

.back-card ul {
    width: 80%;
}

.quotes {
    margin-bottom: 8px;
}

.back-card:hover {
    font-size: 1.2rem;
    width: 320px;
    height: 420px;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #d4af37c0;
    height: 820px;
}

#projects h2 {
    position: relative;
    bottom: 20px;
    padding-bottom: 50px;
}

#projects div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#projects div a img {
    width: 430px;
    height: 400px;
    border-radius: 1rem;
    opacity: 0.6;
}

#projects div a img:hover {
    width: 450px;
    height: 420px;
    border: 2px solid hsla(51, 90%, 50%, 0.95);
    opacity: 1;
}

#cv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 820px;
}

#cv a {
    width: 372px;
    height: 526.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Screenshot\ 2026-01-04\ at\ 10.13.46\ resize.jpg);
    background-size: cover;
    opacity: 0.2;
}

#cv h2 {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
}

#cv a:hover {
    opacity: 1;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4af37c0;
    height: 100vh;
}

#contact h2 {
    margin-top: 0;
    margin-bottom: 16px;
}

#contact p {
    margin-bottom: 16px;
}

#contact .form {
    text-align: center;
}

form input, form textarea {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    background: none;
    border: none;
    border-bottom: 2px solid hsla(51, 90%, 50%, 0.95);
    font-size: 1rem;
}

form input::placeholder, #comment::placeholder {
    color: white;
}

form input:focus, form textarea:focus {
    outline: none;
    color: hsla(51, 90%, 50%, 0.95);
    font-size: 1.2rem;
}

form input:focus::placeholder, #comment:focus::placeholder {
    color: hsla(51, 90%, 50%, 0.95);
    font-size: 1.2rem;
}

#first-name, #last-name {
    width: 250px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#user-email, #comment {
    width: 552px;
}

#user-email {
    height: 30px;
}

#comment {
    height: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: none;
}

#submit {
    width: 250px;
    height: 50px;
    font-size: 1.1rem;
    color: hsla(51, 90%, 50%, 0.95);
    background-color: white;
    border: 2px solid hsla(51, 90%, 50%, 0.95);
    font-weight: 500;
}

#submit:hover {
    color: white;
    background-color: hsla(51, 90%, 50%, 0.95);
    border: none;
    font-weight: 600;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d4af37c0;
}

#my-email {
    display: flex;
    align-items: center;
    width: 350px;
    height: 60px;
}

#my-email img {
    height: 45px;
    width: 45px;
}

#footer-links {
    font-size: 1.5rem;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-style: italic;
    height: 60px;
}

#footer-links a:hover {
    text-decoration: underline hsla(51, 90%, 50%, 0.95) 2px;
}

.vertical-bar {
    color: hsla(51, 90%, 50%, 0.95);
    font-style: normal;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 60px;
}

.socials a, .socials a img {
    width: 45px;
    height: 45px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials img {
    border-radius: 0.5rem;
}

.socials img:hover {
    border: 1.5px solid hsla(51, 90%, 50%, 0.95);
}

#github {
    background-color: white;
}